<h3>People</h3>
<button {{action (action 'bulk')}}>Edit</button> [{{isBulk}}]
<br>
<br>

{{#each people as |person|}}

  <div class="list-item {{to-dash isBulk}}">
    {{person-item person=person}}

    {{bulk-toggle item=person selected=selected on-click=(action 'toggle' person) }}

    <div class="options">
      <div {{action (action 'view' person)}}>View</div>
      <div {{action (action 'pin' person)}}>Pin</div>
      <div {{action (action 'edit' person)}}>Edit</div>
      <div {{action (action 'delete' person)}}>Delete</div>
    </div>
  </div>

{{/each}}



{{#ember-wormhole to="plus-button"}}
  {{#plus-button}}
    <i class="item" {{action (action 'one')}}><i class="title">One</i></i>
    <i class="item" {{action (action 'two')}}><i class="title">Two</i></i>
    <i class="item" {{action (action 'three')}}><i class="title">Three</i></i>
  {{/plus-button}}
{{/ember-wormhole}}

