<h3>People</h3>
<button {{action (action 'bulk')}}>Edit</button> [{{isBulk}}]
<br>
<br>

{{#each people as |person|}}

  <div class="list-item {{to-dash isBulk}}">
    {{person-item person=person}}

    {{bulk-toggle item=person selected=selected on-click=(action 'toggle' person) }}

    <div class="options">
      <div {{action (action 'edit' person)}}>Edit</div>
      <div {{action (action 'delete' person)}}>Delete</div>
    </div>
  </div>

{{/each}}

{{#ember-wormhole to="plus-button"}}
  {{plus-button}}
{{/ember-wormhole}}