<h3>People</h3>
{{#each people as |person|}}

  <div class="list-item {{dash isBulk}}">
    {{person-item person=person}}

    <div class="bulk">
      Bulk
    </div>

    <div class="options">
      <div>Edit</div>
      <div>Delete</div>
    </div>
  </div>

{{/each}}


  <br>
  <br>

  <button {{action (action 'bulk')}}>Edit</button>

  <br>
  <br>

  {{link-to 'contact' 'contact'}}


{{#ember-wormhole to="plus-button"}}
  {{plus-button}}
{{/ember-wormhole}}